#txtInput {
  width: 100%;
  height: 30px;
  font-size: 100%;
  display: flex;
  justify-content: center;
  cursor: default;
  /* border-color: transparent; */
}

div#errHighlight {
  color: red;
}


p {
  margin: 0%;
  padding: 0%;
  white-space: pre-wrap;

}
